<div *ngIf="!todos.length" class="alert alert-info">
  Caricamento in corso
</div>
<div *ngIf="todos.length">
  <!-- <app-create></app-create> -->
  <form class="form">
    <input type="text" required placeholder="Nuovo ToDo!" [(ngModel)]="newTodo.title" name="title" class="form-control input">
    <button (click)="save()" class="btn-form">Salva</button>
  </form>
  <table class="table">
    <tr>
      <th>#</th>
      <th>Titolo</th>
      <th>Azioni</th>
    </tr>
    <tr *ngFor="let t of todos">
      <td>{{t.id}}</td>
      <td>{{t.title}}</td>
      <td>
        <button class="btn btn-done" (click)="done(t.id)">Fatto</button>
        <button class="btn btn-edit"><a [routerLink]="['edit',t.id]">Modifica</a></button>
        <button class="btn btn-delete" (click)="delete(t.id)">Elimina</button>
      </td>
    </tr>
  </table>
</div>
<router-outlet></router-outlet>

