<div class="container mt-5">
  <div class="container mt-5">
    <div *ngFor="let c of cart">
      <div class="card mb-4">
        <h5 class="card-header">Product {{ c.title }}</h5>
        <div class="card-body">
          <h5 class="card-title">{{ c.description | uppercase}}</h5>
          <p class="card-text">
            {{ c.price }}
          </p>
          <p class="card-text">
            {{ c.brand }}
          </p>
          <button class="btn btn-light">Aggiungi al carrello</button>
          <button class="btn btn-light">Aggiungi ai preferiti</button>
        </div>
      </div>
    </div>
  </div>
</div>
