<!-- <div class="container">
  <div class="d-flex justify-content-center">
    <h1>Accedi o registrati</h1>

    <div class="row align-items-end">
      <div class="col-6">
        <a routerLink="/auth/login" class="btn btn-primary">Accedi</a>
      </div>
      <div class="col-6">
        <h3>Non sei registrato?</h3>
        <a routerLink="/auth/register" class="btn btn-primary">Registrati</a>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div> -->

<div class="container mt-5">
  <div class="d-flex justify-content-center">
    <a class="btn btn-primary me-2 px-5" routerLink="/auth/login">Login</a>
    <a class="btn btn-outline-primary ms-2 px-5" routerLink="/auth/register">Register</a>
  </div>
  <router-outlet></router-outlet>
</div>
