<div class="container mt-5">
  <div class="d-flex justify-content-center">
    <a class="btn btn-primary me-2 px-5" routerLink="/login">Login</a>
    <a class="btn btn-outline-primary ms-2 px-5" routerLink="/register">Register</a>
  </div>

  <div class="carousel-wrapper mt-5" data-bs-theme="dark">
    <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active d-flex justify-content-center">
          <img src="https://picsum.photos/id/237/200/300" class="d-block" alt="...">
        </div>
        <div class="carousel-item d-flex justify-content-center">
          <img src="https://picsum.photos/seed/picsum/200/300" class="d-block" alt="...">
        </div>
        <div class="carousel-item d-flex justify-content-center">
          <img src="https://picsum.photos/200/300?grayscale" class="d-block" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

</div>

