@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}


@media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

footer {
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

/* badge prfile pic */
.item {
  position:relative;
  display:inline-block;
}
.notify-badge{
  position: absolute;
  top: 150px;
  background: black;
  border: 1px solid white;
  text-align: center;
  border-radius: 20px;
  color: white;
  padding: 5px 10px;
  margin-top: -40px;
}